<header class="clearfix">
  <h1 id="title">{{#link-to 'to-learns'}}Stuff To Learn{{/link-to}}</h1>
  <nav>
    <ul>
      <li>{{#link-to 'about'}}about{{/link-to}}</li>
    </ul>
  </nav>
</header>

<div class="main-content">
  {{outlet}}
</div>
