// Place all the styles related to the ToLearns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.to-learns {
  padding: 20px 0px;
}

.to-learn {
  list-style: none;

  &.uncomplete {
    font-weight: bold;
  }

  &.completed {
    text-decoration: line-through;
  }
}

.errors {
  color: #980303;
}

.field_with_errors {
  input {
    border: 1px solid #A83E3E;
  }
}
